@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/livvic-v11-latin-600.woff2') format('woff2'),
    url('../fonts/livvic-v11-latin-600.woff') format('woff');
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/livvic-v11-latin-700.woff2') format('woff2'),
    url('../fonts/livvic-v11-latin-700.woff') format('woff');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic";

}

.header {
  background-color: #014E56;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.inner-next {
  display: flex;
  justify-content: space-between;
}

.img-link-img {
  margin-right: 80px;
  margin-top: 77px;
  width: 159px;
  height: 40px;
}

.navbar {
  margin-top: 83px;
}

.list {
  list-style-type: none;
  display: flex;
}

.list-item~.list-item {
  margin-left: 40px;
}

.link {
  text-decoration: none;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.button-link {
  text-decoration: none;
  margin-top: 73px;
  margin-bottom: 133px;
}

.button-link__text {
  padding: 9px 33px 11px 32px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
}

/* hero  */
.hero {
  background-image: url(../img/other-page.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) bottom;
  background-color: #014E56;
}

.hero__container {
  margin-top: 0;
}

.hero__box::before {
  content: "";
  background-image: url(../img/hero-img.svg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.box {

  display: flex;
  justify-content: space-between;

}

.box__big-shrift {
  width: 635px;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}

.text-hero {
  color: #F67E7E;
}

.span {
  background: transparent;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  position: absolute;


}

.paragraph-hero-mix {
  margin-top: 79px;
  margin-bottom: 116px;
  width: 445px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

/* section  */
.part {
  background-color: #004047;
  background-image: url(../img/about-page-img.svg), url(../img/about-page-img-next.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) top, calc(50% + 620px) bottom;
}

.container-inner-next {
  padding-top: 154px;
  padding-bottom: 114px;
}

.part__big-shrift {
  margin-bottom: 64px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.inner-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.inner-list-item {
  background-color: #012F34;
  width: 350px;
  margin-right: 30px;
  margin-bottom: 76px;
}

.inner-list-item-inner {

}

.inner-list-item-inner:hover {
  z-index: -1;
  
}

.inneer-blokquote {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.inner-button {
  position: absolute;
  margin-left: 147px;
  margin-top: -25px;
  border: none;
  background: #F67E7E;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.inner-button-other {
  position: absolute;
  margin-top: +25px;
  margin-left: 145px;
  border: none;
  background: #F67E7E;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.inner-button-other:hover {
  background-color: #79C8C7;
  transform: rotate(45deg);
  cursor: pointer;
}

.inner-button:hover {
  background-color: #79C8C7;
  transform: rotate(45deg);
}

.inner-button-img {
  position: center center;
  width: 16px;
  height: 16px;
}

.inner-list-item:nth-child(3) {
  margin-right: 0;
}

.inner-list-item:last-child {
  margin-right: 0;
}

.inner-list-item-img {
  margin-left: 127px;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 96px;
  height: 96px;
}

.inner-list-item-image {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

.inner-list-item-paragraph {
  text-align: center;
  align-items: center;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.inner-list-item-paragraph-other {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
  align-items: center;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.inner-list-item-text {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 56px;
}

.inner-list-item-text-other {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.inner-list-item-li {
  margin-right: 16px;
}

.inner-list-item-a-img {
  width: 24px;
  height: 19px;
}

/* part  */
.peice {
  background-color: #012F34;
  background-image: url(../img/clients-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 620px) top;
}

.peice-inner {
  padding-top: 140px;
}

.peice-inner-shrift {
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.peice-list {
  list-style-type: none;
  display: flex;
}

.peice-list-item {
  width: 165px;
  height: 28px;
  left: 165px;
  top: 1777px;
  margin-right: 80px;
  margin-bottom: 156px;
}

/* pack  */

.pack {
  background-image: url(../img/cta-img.svg);
  background-position: calc(50% - 650px) calc(50% + 80px);
  background-repeat: no-repeat;
  margin-top: 0;
  background-color: #F67E7E;
}

.inner-box-other {
  display: flex;

}

.inner-box-shrift {
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  width: 504px;
  margin-top: 76px;
  margin-right: 206px;
  margin-left: 120px;
}

.button-link-other {
  text-decoration: none;
  margin-top: 76px;
  margin-bottom: 76px;
}

.button-link__end-peice {
  padding: 9px 33px 11px 32px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  box-sizing: border-box;
  border-radius: 24px;
}

/* footer  */
.end {
  background-color: #002529;
}

.footer-end {
  display: flex;
  justify-content: space-between;
}

.footer-end-inner-div-img {
  margin-top: 48px;
}

.footer-end-inner-list {
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 55px;
  display: flex;
  list-style-type: none;
}

.footer-end-inner-list-item~.footer-end-inner-list-item {
  margin-left: 40px;
}

.footer-end-inner-list-item-link {
  text-decoration: none;
}

.footer-end-inner-list-item-link-p {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.other-footer-div {
  margin-top: 48px;
}

.other-footer-list {
  list-style-type: none;
}

.other-footer-p {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.finish-div {
  margin-top: 48px;
}

.finish-div-ul {
  margin-left: 170px;
  list-style-type: none;
  display: flex;
}

.finish-div-ul-li-item-img {
  margin-bottom: 51px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.finish-div-p {
  font-family: Livvic;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
@media only screen and (max-width: 683px) {
  .box {
    flex-direction: column;
  }
  .container-inner-next {
    flex-direction: column;
  }
  .inner-list {
    flex-direction: column;
  }
  .peice-list {
    flex-direction: column;
    
  }
  .end-peice {
    margin-left: 200px;
    width: 153px;
    align-items: center;
  }
  .peice-list-item {
    margin-bottom: 40px;
  }
  .peice-inner-shrift {
    text-align: center;
    margin-top: 0px;
    width: 457px;
    margin-left: 0;
  }
  .inner-list-item {
    
    width: 281px;
    margin-right: 1px;
  }
  .peice-inner {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .inner-box-other {
    flex-direction: column;
  }
  .inner-box-shrift {
    margin-left: 0;
  }
  .footer-end {
    flex-direction: column;
    margin-bottom: 58px;
  }
  .finish-div-ul {
    margin-left: 0;
  }
  .footer-end-inner-list {
    font-size: 32px;
    margin-left: 0;
    margin-bottom: 33px;
    width: 445px;
  }
  .big-shrift {
    margin-left: 0;
  }
}